body {
  font-family: "Lucida Grande",Tahoma,Helvetica,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
   font-family: "Arial", sans-serif;
   color: navy;
}

h1 {
   text-align: center;
   font-size:180%;
}

h1.matiere {
   font-size: 210%;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-style: solid;
   border-width: 1px;
   background-color: transparent
}

pre {
  margin-right: auto;
  margin-left: 5%;
  border-style: solid;
  border-width: 1px;
  color: #400080;
  background-color: #E6E6E6;
  font-weight: bold;
  line-height: 120%;
}

p {
   text-indent: 1em;
}

.menu, .commande {
   font-family: "Courrier New", sans-serif;
   color: #1B1B1B;
   font-weight: bold;
}


.trans {
	font-family: "Century Gothic", sans-serif;
	font-weight: bold;
	font-size: 120%;
}

div.cadre {
	border-style: solid;
    border-width: 1px;
    border-color: black;
	margin-left: auto;
	margin-right: auto;
}

.contenant {
	text-align: center;
}

#flash1 {
	width: 400px;
/*	height: 250px;*/
}


.logo-gauche {
   float:left;
   background-color: #25a0c2;
   padding: 10px;
}

.logo-gauche img {
  border: none;
}

.filiere {
   text-align:right;
   font-style: italic;
}

table {
   margin-left: auto;
   margin-right: auto;
   border-style: solid;
   border-width: 1px;
}

th {
   background-color: yellow;
}

tfoot tr td {
   text-align: center;
}

ul { list-style-type: square; }

ul ul { list-style-type: disc; }

ul ul ul { list-style-type: circle; }

ul ul ul ul { list-style-type: disc; }

li { margin-left: 0.5em; margin-top: 0.5em; }

li li { font-size: 85%;  }

li li li { font-size: 85%; font-style: normal }
